<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <!-- <ion-header-bar class="bar-stable"> -->
    <h1 class="title">Inventario de productos</h1>
  <!-- </ion-header-bar> -->
  <ion-content>
    <div class="row header">
      <div class="col">Categoria</div>
      <div class="col">NombreProd</div>
      <div class="col">Marca</div>
      <div class="col">Precio</div>
      <div class="col">Tamaño</div>
      <div class="col">Color</div>
      <div class="col">Cantidad inicial</div>
      <div class="col">Vendido</div>
      <div class="col">Cantidad existencia</div>
    </div>
    <!-- <div class="row" ng-repeat="producto in productos.producto">
    <div class="col">{{Categoria}}</div>
    <div class="col">{{NombreProd}}</div>
    <div class="col">{{Marca}}</div>
    <div class="col">{{Precio}}</div>
    <div class="col">{{Tamaño}}</div>
    <div class="col">{{Color}}</div>
    <div class="col">{{Cantidad inicial}}</div>
    <div class="col">{{Vendido}}</div>
    <div class="col">{{Cantidad existencia}}</div>
    <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
  </div> -->
  </ion-content>
</body>