<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
  </ion-header>
<!-- <ion-header-bar class="bar-stable"> -->
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Categoría" inputmode="" type="" (ionChange)="onSearch($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  <ion-card class="card" *ngFor="let product of products">
    <ion-card-header>
      <ion-card-title class="title"> {{product.categoria}}</ion-card-title>
    </ion-card-header>
      <ion-item>
        <ion-label>{{product.nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trophy-outline" slot="start"></ion-icon>
        <ion-label slot="start">{{product.marca}}</ion-label>
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label slot="start">${{product.precio}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        <ion-label slot="start">{{product.color}}</ion-label>
        <ion-icon name="cube-outline" slot="start" *ngIf="isAdmin()"></ion-icon>
        <ion-label *ngIf="isAdmin()">{{product.cantidad}} ud(s)</ion-label>
      </ion-item>
  </ion-card>
</ion-content>