<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>
      Corte de caja
    </ion-title>
  </ion-toolbar>
  </ion-header>
<!-- <ion-header-bar class="bar-stable"> -->
<ion-content [fullscreen]="true">
  <ion-card class="card"*ngFor="let cashcut of cashcuts">
    <ion-card-header>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-card-title name="calendar-outline">{{cashcut.fecha}}</ion-card-title>
    </ion-card-header>
      <ion-item class="ion-activated">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label>{{cashcut.corte_caja_id}}</ion-label>
      </ion-item>
      <ion-item class="ion-activated">
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>Inicial: ${{cashcut.caja_inicial}}</ion-label>
      </ion-item>
      <ion-item class="ion-activated">
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>Final: ${{cashcut.caja_final}}</ion-label>
      </ion-item>
      <ion-item class="ion-activated">
        <ion-icon name="id-card" slot="start"></ion-icon>
        <ion-label>{{cashcut.usuario_id}}</ion-label>
      </ion-item>
      <ion-item class="ion-activated">
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>{{cashcut.comentarios}}</ion-label>
      </ion-item>
  </ion-card>
</ion-content>
