<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col><ion-text>Fecha</ion-text></ion-col>
      <ion-col><ion-text>Usuario</ion-text></ion-col>
      <ion-col><ion-text>Movimiento</ion-text></ion-col>
    </ion-row>
      <!-- <ion-row ng-repeat="producto in productos.producto">
    <ion-col><ion-text>{{Fecha}}</ion-text></ion-col>
    <ion-col><ion-text>{{Usuario}}</ion-text></ion-col>
    <ion-col><ion-text>{{Movimiento}}</ion-text></ion-col>
      </ion-row> -->
  </ion-grid>
</ion-content>
