<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="home" defaultHref="['/tabs/notes']" [routerLink]="['/tabs/notes']"></ion-back-button>
      <ion-title>Movimientos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-searchbar placeholder="YYYY/MM/DD o empleado" inputmode="" type="" (ionInput)="onSearch($event)"
      [(ngModel)]="textoBuscar" [debounce]="250" showCancelButton="always"></ion-searchbar>
    <ion-grid class="ion-text-center">
      <ion-row class="table-headers">
        <ion-col>
          <ion-text>Fecha</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Usuario</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Movimiento</ion-text>
        </ion-col>
      </ion-row>
      <ng-container *ngFor='let movement of movements'>
        <!-- <ng-container *ngFor='let user of users'> -->
          <ion-row class="table-rows" *ngIf="movement.show || user.show">
            <ion-col>
              <ion-text>{{movement.fecha}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{movement.usuario_id.nombre}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{movement.descripcion}}</ion-text>
            </ion-col>
          </ion-row>
        <!-- </ng-container> -->
      </ng-container>
    </ion-grid>
  </ion-card>
</ion-content>