NotesPage{ 
   background-color: white;
   background: yellow;
}
app-notes{ 
    background-color: white;
    background: yellow;
 }
 .user-avatar {
   max-width: 125px;
   height: 125px;
   padding: .5em;
   height: 12vh;
 }
 .icon-watch{
    position:relative;

 }
