<ion-header>
  <ion-toolbar>
    <ion-title>Sucursales</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Plaza Tec</ion-card-title>
      <ion-img src="../assets/img/SucLetysTec.jpg"></ion-img>
    </ion-card-header>
    <ion-item>
      <ion-button class="btnmap" fill="outline" slot="end" href="https://goo.gl/maps/cPX7tCiPmPxM8bhr5">Ver en mapa
      </ion-button>
    </ion-item>
    <ion-item href="" class="ion-activated">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>Plaza Tec, Av. Tecnológico #2528</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>Tel. (311) 847 92 87</ion-label>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>L-V: 7:00-20:00</ion-label>
      <ion-label>S: 7:00-14:00</ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>El Tecolote</ion-card-title>
      <ion-img src="../assets/img/SucLetysTec.jpg"></ion-img>
    </ion-card-header>
    <ion-item>
      <ion-button fill="outline" slot="end" href="https://goo.gl/maps/cPX7tCiPmPxM8bhr5">Ver en mapa</ion-button>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>Eucalipto #9-D Col. El Tecolote</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>Tel. (311) 181 19 29</ion-label>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>L-V: 7:00-20:00</ion-label>
      <ion-label>S: 7:00-14:00</ion-label>
    </ion-item>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Villas del Nayar</ion-card-title>
      <ion-img src="../assets/img/SucLetysTec.jpg"></ion-img>
    </ion-card-header>
    <ion-item>
      <ion-button fill="outline" slot="end" href="https://goo.gl/maps/cPX7tCiPmPxM8bhr5">Ver en mapa</ion-button>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="navigate" slot="start"></ion-icon>
      <ion-label>Av. Director #60 Col. Villas del Nayar</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>Tel. (311) 181 04 91</ion-label>
    </ion-item>
    <ion-item class="ion-activated">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>L-V: 7:00-20:00</ion-label>
      <ion-label>S: 7:00-14:00</ion-label>
    </ion-item>
  </ion-card>
</ion-content>