<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-header-bar class="bar-stable"> -->

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="table-headers">
      <ion-col>
        <ion-icon name="construct-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="pricetag-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="table-rows" *ngFor="let service of services">
      <ion-col>
        <ion-text>{{service.nombre}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>${{service.precio}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>