<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notes">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicios">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Entregas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
