<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/tabs/notes']" [routerLink]="['/tabs/notes']"></ion-back-button>
      <ion-title>Detalle nota</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="note">
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label> {{note.cliente.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label> {{note.cliente.telefono1}} {{note.cliente.telefono2}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>{{note.fecha_llegada}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Anticipo: ${{note.anticipo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="remove-circle-outline" slot="start"></ion-icon>
      <ion-label>Descuento: ${{note.descuento}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Abono: ${{note.abono}}</ion-label>
    </ion-item>
    <!-- <ion-item >
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label>id: {{note.nota_id}}</ion-label>
    </ion-item> -->
  </ion-card>
  <ion-card *ngFor="let articulo of note?.articulos">
    <ion-item>
      <ion-icon name="cart-outline" slot="start"></ion-icon>
      <ion-label>Articulo: {{articulo.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>{{articulo.color}}</ion-label>
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      <ion-label>{{articulo.cantidad}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
      <ion-label>{{articulo.comentario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label>{{articulo.estado.nombre}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>