<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/ventas']" [routerLink]="['/ventas']"></ion-back-button>
      <ion-title>Detalle venta</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sale">
  <ion-card *ngFor="let producto of sale?.productos">
    <ion-item>
      <ion-label class="title">{{producto.categoria}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{producto.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="trophy-outline" slot="start"></ion-icon>
      <ion-label>{{producto.marca}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label slot="start">{{producto.color}}</ion-label>
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      <ion-label>{{producto.cantidad}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>${{producto.precio}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="resize-outline" slot="start"></ion-icon>
      <ion-label>{{producto.tam}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>