ion-header ion-title {
    font:oblique bold 120% cursive;
 }
 .title{
    font:oblique bold 110% cursive;
 }
 ion-item ion-label{
    font:oblique bold 90% cursive;
 }
 .icon-watch{
    cursor: pointer;
 }