<img id="logo" src="assets/icon/ReparacionLetys.jpg"/>
<ion-content class="auth-form">
  <ion-row>
      <ion-col>
          <form [formGroup]="form">
            <ion-item lines="full">
              <ion-label position="floating"><ion-icon [name]="'person'" ></ion-icon></ion-label>
              <ion-input type="text" formControlName = "user" placeholder="Correo electrónico"></ion-input> 
            </ion-item>
        
            <ion-item lines="full">
              <ion-label position="floating"><ion-icon [name]="'key'"></ion-icon></ion-label>
              <ion-input type="password" formControlName = "password" placeholder="Contraseña"></ion-input>
            </ion-item>
        
            <ion-row>
              <ion-col>
                <ion-button type="submit" color="danger" expand="block"  (click)="iniciarSesion()">Iniciar sesión</ion-button> 
                <a [routerLink]="['/forgot-password']" class="small-text">¿Olvidaste tu contraseña?</a>
              </ion-col>
            </ion-row>
          </form>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrarse</ion-button>
        <!-- <ion-note item-start></ion-note>
        ¿Ya tienes cuenta?
        <ion-note item-end></ion-note> -->
        <!-- <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar sesión</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title>
            <div contentId="container">
              <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"><ion-icon class="icons" slot="end" [name]="'logo-facebook'"></ion-icon></a>
              <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"><ion-icon class="icons" slot="end" [name]="'logo-instagram'"></ion-icon></a>        
            </div>  
        </ion-title>
        </ion-toolbar>
      </ion-footer>