<ion-toolbar>
  <ion-buttons slot="start" *ngIf="showMenu">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        Datos de la cuenta
      </ion-item>
      <ion-item>
        Roles
      </ion-item>
      <ion-item>
        Estado de reparaciones
      </ion-item>
      <ion-item>
        Ver artículos
      </ion-item>
      <ion-item>
        Ver clientes
      </ion-item>
      <ion-item>
        Ver productos
      </ion-item>
      <ion-item>
        Ver ventas
      </ion-item>
      <ion-item>
        Sucursales
      </ion-item>
      <ion-item color="danger" (click)="logout()">
        Cerrar sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Custom Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<!-- <ion-menu side="end" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->