<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col><ion-text>Cantidad</ion-text></ion-col>
      <ion-col><ion-text>Nombre</ion-text></ion-col>
      <ion-col><ion-text>Marca</ion-text></ion-col>
      <ion-col><ion-text>Precio</ion-text></ion-col>
      <ion-col><ion-text>Color</ion-text></ion-col>
      <ion-col><ion-text>Fecha venta</ion-text></ion-col>
      <ion-col><ion-text>Empleado</ion-text></ion-col>
    </ion-row>
        <!-- <ion-row ng-repeat="producto in productos.producto">
    <ion-col><ion-text>{{Cantidad}}</ion-text></ion-col>
    <ion-col><ion-text>{{Nombre}}</ion-text></ion-col>
    <ion-col><ion-text>{{Marca}}</ion-text></ion-col>
    <ion-col><ion-text>{{Precio}}</ion-text></ion-col>
    <ion-col><ion-text>{{Color}}</ion-text></ion-col>
    <ion-col><ion-text>{{Fecha venta}}</ion-text></ion-col>
    <ion-col><ion-text>{{Empleado}}</ion-text></ion-col>
    ;;;<ion-col><button class="button" ng-click="ctrl.add($index)">Add</button></div>
    </ion-row> -->
  </ion-grid>
</ion-content>
