<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="home" defaultHref="['/tabs/notes']" [routerLink]="['/tabs/notes']"></ion-back-button>
      <ion-title>Ventas</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-header-bar class="bar-stable"> -->
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="YYYY/MM/DD" inputmode="" type="" (ionInput)="onSearch($event)" [(ngModel)]="textoBuscar" [debounce]="250" showCancelButton="always" ></ion-searchbar>
<ng-container *ngFor="let sale of sales">
  <ion-card class="card" *ngIf="sale.show">
    <ion-card-header>
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{sale.fecha}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-item>
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      <ion-icon class="icon-watch" name="eye" fill="outline" slot="end" routerLink="/detalle-venta" [queryParams]="{saleid:sale.venta_id}"></ion-icon>
      <ion-label>{{getDataAll(sale.productos)}} producto(s)</ion-label>
    </ion-item>
  </ion-card>
</ng-container>
</ion-content>