ion-header{
    margin-bottom: 10%;
}
#logo{
    display: block;
    margin: auto;
    width: 35%;
}
ion-row{
    margin-top: 5%;
    width: 100%;
}
ion-col{
    text-align: center;
    display: block;
    width: 100%;
}
form{
    margin-bottom: 12%;
}
.icons{
        padding: 10%;
        // margin: auto;
}