<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/login']" [routerLink]="['/login']"></ion-back-button>
      <ion-title>Registro</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item lines="full">
      <ion-label position="floating">Nombre(s)</ion-label>
      <ion-input type="text" formControlName = "nombre" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="(form.get('nombre').touched || form.get('nombre').dirty) && form.get('nombre').errors?.required">
      Nombre es requerido
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Teléfono (10 dígitos)</ion-label>
      <ion-input type="text" formControlName = "telefono" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="(form.get('telefono').touched || form.get('telefono').dirty) && form.get('telefono').errors?.required">
      Telefono es requerido
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" formControlName = "correo" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="(form.get('correo').touched || form.get('correo').dirty) && form.get('correo').errors?.required">
      Usuario es requerido
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName = "contrasena" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="(form.get('contrasena').touched || form.get('contrasena').dirty) && form.get('contrasena').errors?.required">
      Contraseña es requerido
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" formControlName = "ccontrasena" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="(form.get('ccontrasena').touched || form.get('ccontrasena').dirty) && form.get('ccontrasena').errors?.required">
      Confirmación de contraseña requerida
    </span>
    <span class="error ion-padding" *ngIf="(form.get('ccontrasena').touched || form.get('ccontrasena').dirty) && !(form.get('ccontrasena').errors?.required) && (form.get('contrasena').value != form.get('ccontrasena').value)">
      Contraseñas no coinciden
    </span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="registroCliente()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>