<ion-header>
  <ion-toolbar>
    <ion-title>empleados</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col><ion-text>Nombre</ion-text></ion-col>
      <ion-col><ion-text>Usuario</ion-text></ion-col>
      <ion-col><ion-text>Sueldo</ion-text></ion-col>
      <ion-col><ion-text>Rol</ion-text></ion-col>
      <ion-col><ion-text>Turno</ion-text></ion-col>
    </ion-row>
      <!-- <ion-row ng-repeat="producto in productos.producto">
    <ion-col><ion-text>{{Nombre}}</ion-text></ion-col>
    <ion-col><ion-text>{{Usuario}}</ion-text></ion-col>
    <ion-col><ion-text>{{Sueldo}}</ion-text></ion-col>
    <ion-col><ion-text>{{Rol}}</ion-text></ion-col>
    <ion-col><ion-text>{{Turno}}</ion-text></ion-col>
      </ion-row> -->
  </ion-grid>
</ion-content>
