
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-label>No tienes algo en proceso</ion-label>
  <ion-card>
    <ion-card-header>
      <ion-card-title>"Cliente" + cliente.nombre</ion-card-title>
      <ion-card-subtitle>aaa</ion-card-subtitle>
      <ion-label>ID</ion-label>
      <ion-label>Fecha inicio</ion-label>
      <ion-label>Estado (Recibido, En proceso, En pausa, Finalizado, Entregado)</ion-label>
      <ion-label>Fecha estimada de entrega</ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>
