
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cliente: LARIOS</ion-card-title>
      <ion-card-subtitle>Artículo:MALETE</ion-card-subtitle>
      <ion-label>No tienes algo en proceso</ion-label>
      <ion-label>ID</ion-label>
      <ion-label>Artículo</ion-label>
      <ion-label>Cliente</ion-label>
      <ion-label>Fecha inicio</ion-label>
      <ion-label>Estado</ion-label>
      <ion-label>Fecha estimada finalización</ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>
